<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">Cook App</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-3 mb-lg-0">
        <li class="nav-item">
          <a
            href="#"
            class="nav-link"
            routerLinkActive="active"
            routerLink="/recipes"
            >Recipes</a
          >
        </li>
        <li class="nav-item">
          <a
            href="#"
            class="nav-link"
            routerLinkActive="active"
            routerLink="/auth"
            >Authenticate</a
          >
        </li>
        <li class="nav-item">
          <a
            href="#"
            class="nav-link"
            routerLinkActive="active"
            routerLink="/shopping-list"
            >Shopping List</a
          >
        </li>
      </ul>

      <ul class="navbar-nav navbar-right">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            style="cursor: pointer"
            appDropdown
          >
            Manage
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a
                class="dropdown-item"
                style="cursor: pointer"
                (click)="onSaveData()"
                >Save Data</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                style="cursor: pointer"
                (click)="onFetchData()"
                >Fetch Data</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
