.recipe-form-container {
  padding-bottom: 30px;

  textarea {
    resize: none;
  }

  .ingredients-form-container {
    .col:first-child .form-control {
      width: auto;
    }
  }

  input,
  textarea {
    &.ng-invalid.ng-touched {
      border: 2px dashed #f00;
    }
  }
}
