<div class="row">
  <div class="card recipe-auth-card offset-xl-5">
    <form
      class="recipe-auth-form"
      #authForm="ngForm"
      (ngSubmit)="onSubmit(authForm)"
    >
      <div class="form-group">
        <label for="email">Email Address</label
        ><input
          type="email"
          id="email"
          class="form-control"
          placeholder="john.doe@email.com"
          name="email"
          ngModel
          email
          required
        />
      </div>
      <div class="form-group">
        <label for="email">Password</label
        ><input
          type="password"
          id="password"
          class="form-control"
          placeholder="******"
          name="password"
          ngModel
          required
          minlength="6"
        />
      </div>
      <div class="text-center">
        <button
          class="btn btn-primary mb-2"
          type="submit"
          [disabled]="!authForm.valid"
        >
          {{ isLoginMode ? "Login" : "Sign Up" }}
        </button>
      </div>
      <div class="text-center">
        <button class="btn btn-primary" (click)="onSwitchMode()" type="button">
          Switch to {{ isLoginMode ? "Sign Up" : "Login" }}
        </button>
      </div>
    </form>
  </div>
</div>
