<div class="row">
  <div class="col col-md-6">
    <form>
      <div class="row mb-2">
        <div class="col col-md-8">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" #nameInput />
        </div>
        <div class="col col-md-4">
          <label for="amount" class="form-label">Amount</label>
          <input type="number" class="form-control" id="amount" #amountInput />
        </div>
      </div>
      <div class="row">
        <div class="col col-xs-12">
          <button
            type="submit"
            class="btn btn-success mr-1"
            (click)="onAddItem()"
          >
            Add
          </button>
          <button class="btn btn-danger mr-1">Delete</button>
          <button class="btn btn-warning">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
